<h3>Submitted vacation requests</h3>
<table class="vacation-list">
  <tr>
    <th>Employee</th>
    <th>Vacation start date</th>
    <th>Vacation end date</th>
    <th>Comment</th>
    <th>Submitted at</th>
  </tr>
  <tr *ngFor="let vacation of vacations">
    <td>{{vacation.employee}}</td>
    <td>{{vacation.startDate}}</td>
    <td>{{vacation.endDate}}</td>
    <td>{{vacation.comment}}</td>
    <td>{{vacation.submittedAt}}</td>
  </tr>
</table>

